.app {
  height: 100%;
  width: 100%; }

.db-list {
  border: 1px solid #333;
  width: 20%;
  height: 100%;
  float: left; }

.data-panel {
  border: 1px solid #333;
  width: 80%;
  float: right;
  height: 70%; }

.console {
  border: 1px solid #333;
  height: 30%;
  width: 80%;
  float: right; }
  .console .log {
    height: 50%;
    width: 100%; }
  .console .input {
    width: 100%; }
